@import url('https://fonts.googleapis.com/css2?family=Puppies+Play&family=Teko:wght@300..700&display=swap');


*{
    margin:0;
    padding: 0;
}

:root{
    --cinza: #D6CAC8ff;
    --vermelho-escuro: #582319ff;
    --vermelho: #DA1C2Aff;
    --laranja-marrom: #A64413ff;
    --laranja-medio: #FB4812ff;
    --preto: #000000;
    
--texto-corpo: "Teko", sans-serif;
--texto-titulo: "Puppies Play", cursive; 
}

body{
    background: rgb(150, 74, 53);
    color: #000000;
    font-family: var(--texto-corpo);
}

.cabecalho{
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.cabecalho-img{
    width: 7%;
    border-radius: 100%;
}

.cabecalho-nav__link{
    text-decoration: none;
    font-family: var(--texto-titulo) ;
    font-size: 35px;
    color: var(--vermelho-escuro) ;
    margin-right: 24px;
}