@import url('https://fonts.googleapis.com/css2?family=Puppies+Play&family=Teko:wght@300..700&display=swap');


*{
    margin:0;
    padding: 0;
}

:root{
    --cinza: #D6CAC8ff;
    --vermelho-escuro: #582319ff;
    --vermelho: #DA1C2Aff;
    --laranja-marrom: #A64413ff;
    --laranja-medio: #FB4812ff;
    --preto: #000000;
    
--texto-corpo: "Teko", sans-serif;
--texto-titulo: "Puppies Play", cursive; 
}

body{
    background: rgb(150, 74, 53);
    color: #000000;
    font-family: var(--texto-corpo);
}

.cabecalho{
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.cabecalho-img{
    width: 10%;
    border-radius: 100%;
}

.cabecalho-nav__link{
    text-decoration: none;
    font-family: var(--texto-titulo) ;
    font-size: 35px;
    color: var(--vermelho-escuro) ;
    margin-right: 24px;
}

.principal-capa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-image: url(img/imagem\ turbo.jpg);
    background-repeat: no-repeat;
    margin-left: 0px;

}

.principal-capa__conteudo{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.principal-capa__titulo{
    font-family: var(--texto-titulo);
    font-size: 32px;
    color: var(--cinza);
    margin-bottom: 12px;
}

.principal-capa__titulo:hover{
    text-shadow: 10px 10px 10px var(--preto);
    transition: 0ms;
}
.principal-capa__texto{
    font-size: 24px;
    margin-top: 24px;
}

.principal-capa__imagem{
    border-radius: 10 20% 10 20%;
    width: 30%;
    border: 5px solid var(--laranja-medio);
}

.principal-capa__combotao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.principal-capa__botao{
    background-color: var(--vermelho);
    border-radius: 5px;
    padding: 1em;
    margin-top: 2em;
    color: var(--cinza);
    text-decoration: none;
}

.botao__secundario{
    background-color: var(--laranja-medio);
    border: 2px solid var(--laranja-marrom);
    color: var(--cinza);
    margin-top: 2em;
}

.propaganda{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 7em;
}

.propaganda__imagem{
    margin-left: 20%;
    width: 60%;
}

.propaganda__titulo{
    font-family: var(--texto-titulo);
    font-size: 48px;
    color: var(--cinza);
}

.propaganda__titulo:hover{
    text-shadow: 3px 3px 10px var(--cinza);
    transition: 0ms;
}

.propaganda__texto{
    font-size: 24px;
    color: var(--laranja-medios);
}

